html{
scroll-behavior:smooth;
}
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#111;
color:white;
}
.logo{
font-size:22px;
font-weight:700;
}
.nav-links{
list-style:none;
display:flex;
gap:25px;
}

.nav-links a{
text-decoration:none;
color:white;
font-weight:500;
}

.nav-links a:hover{
color:#f4c430;
}
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#111;
color:white;

position:sticky;
top:0;
z-index:1000;
}
body{
font-family:'Poppins' ,sans-serif;
margin:0;
background: #f6f6f6;
text-align:center;
}

header{
background:#f4c430;
padding:40px;
}

header h1{
margin:0;
font-size:40px;
}

header p{
margin-top:10px;
font-size:18px;
}

.hero img{
width:100%;
height:450px;
object-fit:cover;
}

.buttons{
margin-top:-35px;
}

button{
padding:12px 22px;
margin:8px;
border:none;
border-radius:30px;
background:white;
font-weight:600;
cursor:pointer;
box-shadow:0 4px 10px rgba(0,0,0,0.15);
transition:0.3s;
}

button:hover{
transform:scale(1.05);
background:#f4c430;
}

.about{
display:flex;
justify-content:space-around;
align-items:center;
padding:70px;
gap:40px;
}

.about-text{
width:40%;
text-align:left;
font-size:17px;
}

.features{
background:#f4c430;
padding:35px;
border-radius:18px;
width:40%;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.feature{
margin:20px 0;
}

.reviews{
padding:60px 20px;
}

.review-box{
display:flex;
justify-content:center;
gap:50px;
margin-top:40px;
}

.review{
width:200px;
}

.review img{
width:120px;
border-radius:50%;
box-shadow:0 6px 12px rgba(0,0,0,0.2);
}

footer{
background:#eee;
padding:25px;
margin-top:40px;
font-size:14px;
}
@media(max-width:768px){

.about{
flex-direction:column;
}

.about-text{
width:90%;
}

.features{
width:90%;
}

.review-box{
flex-direction:column;
align-items:center;
}

.nav-links{
display:none;
}

}



section{
  padding:50px;
  text-align:centre;
}

section img{
  width:400px;
  border-radius:10px;
  margin-top:10px;
}

.container{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
  gap:20px;
  padding:20px;
}



section img{
  transition: transform 0.3s;
}

section img:hover{
  transform: scale(1.1);
}






section{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}



footer p{
  text-align: center;
}




h1, h2{
  text-align:center;
}


section:hover{
  transform: translateY(-5px);
  transition: 0.3s;
}


button{
  background:#ff8c00;
  color:white;
  padding:10px 20px;
  border:none;
  border-radius:6px;
  front-size:16px
  cursor:pointer;
}

button:hover{
  background:#ff7a00;
  cursor:pointer;
}



section img{
width:100%
border-radius 10px;
}


section{
transition:0.3;
}
section:hover{
transform:translateY(-8px);
}


footer{
margin-top:40px;
}

section{
box-shadow:0 4px 10px
rgba(0,0,0,0.1)
border-radius 10px;
}

section{
margin:20px;

}

